<div class="container" ng-controller="Home" ng-init="getLocations()"> 
	{{>header}}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="input-group">
						<span class="input-group-addon">What</span>
						<input type="text" class="form-control input-sm pop-text" ng-model="search.n" placeholder="Movie Theater Butter">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="input-group">
						<span class="input-group-addon">Where</span>
						<input placeholder="New York, NY" class="form-control input-sm pop-text" types="\{{types}}" places-auto-complete ng-model="search.l" component-restrictions="{country:'us'}" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<div class="btn-group btn-group-justified">
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="5">5 mi</label>
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="10">10 mi</label>
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="25">25 mi</label>
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="50">50 mi</label>
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="100">100 mi</label>
				<label class="btn btn-info btn-sm" ng-model="search.d" uib-btn-radio="200">200 mi</label>
			</div>
			<br>
			<div class="btn-group btn-group-justified">
				<label class="btn btn-success btn-sm" ng-model="search.c['1']" uib-btn-checkbox>$</label>
				<label class="btn btn-success btn-sm" ng-model="search.c['2']" uib-btn-checkbox>$$</label>
				<label class="btn btn-success btn-sm" ng-model="search.c['3']" uib-btn-checkbox>$$$</label>
				<label class="btn btn-success btn-sm" ng-model="search.c['4']" uib-btn-checkbox>$$$$</label>
			</div>
			<br>
		</div>
		<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<select class="form-control input-sm" ng-options="environmenttype.EnvironmentTypeID as environmenttype.EnvironmentType for environmenttype in environmenttypes" ng-model="search.et">
						<option value=""></option>
					</select>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<select class="form-control input-sm" ng-options="locationtype.LocationTypeID as locationtype.LocationType for locationtype in locationtypes" ng-model="search.lt">
						<option value=""></option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<input class="form-control input-sm" placeholder="Find a Flavor" ng-model="search.f">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right">
			<button class="btn btn-default btn-sm btn-block" type="button" ng-click="getLocations()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
		</div>
	</div>
	<br>
	<div class="panel panel-default" ng-repeat="location in locations">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12">
					<a ng-href="/location/\{{location.LocationID}}" class="place" ng-bind="location.LocationName"></a><span class="area" ng-bind-template="\{{location.LocationCity}}, \{{location.LocationState}}"></span>
					<br>
					<span class="type" ng-bind="location['LocationType.LocationType']"></span>
					<span class="review">
						<span ng-repeat="n in [] | range:5">
							<i class="fa fa-star" ng-if="location.ReviewRating >= $index+1" aria-hidden="true"></i>
							<i class="fa fa-star-o" ng-if="location.ReviewRating < $index+1" aria-hidden="true"></i>
						</span>
						\{{location.ReviewCount}} Reviews
					</span>
					<br><br>
					<div class="row">
						<div class="col-lg-1"><a ng-href="/user/\{{location.LatestReviewUserID}}"><img src="/img/silo.png" alt="silo" class="img-rounded"></a></div>
						<div class="col-lg-11" ng-bind="location.LatestReview"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="locations.length === 0">
		<div class="col-lg-12">
			<h3 class="text-center">Nothing Pop'n</h3>
		</div>
	</div>
	<table width="100%" ng-if="locations.length > 0">
		<tr>
			<td width="50%"><button ng-disabled="search.o === 0" href="#" aria-label="Previous" class="btn btn-sm btn-default" ng-click="go(-5)"><i class="fa fa-angle-left"></i> Previous Page</button></td>
			<td class="text-right"><button ng-disabled="locations.length < 5" href="#" aria-label="Next" class="btn btn-sm btn-default" ng-click="go(5)">Next Page <i class="fa fa-angle-right"></i></button></td>
		</tr>
	</table>
	<br>
</div>
<script src="/home.controller.js"></script>