<div class="container" ng-controller="ViewPhotos">
	{{>header}}
	<div class="row">
		<div class="col-lg-12">
			<p class="heading">{{location.LocationName}} <span class="review-indiv">{{rating location.ReviewRating}}</span></p>
			<p>Photos <a href="/location/11" class="btn btn-info btn-xs">Back to Location</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				{{#each pictures}}
					<div class="col-lg-3"><a href="#" ng-click="open('{{LocationImageGUID}}')" class="thumbnail"><img class="thumbnail-picture" src="/location/photo/{{LocationImageGUID}}/thumbnail"></a></div>
				{{/each}}
			</div>
		</div>
	</div>
	{{#if more}}
	<div class="row">
		<div class="col-lg-5"></div>
		<div class="col-lg-2"><a href="/location/11/photos?offset=all" class="btn btn-block btn-info btn-sm">Load All Photos</a></div>
		<div class="col-lg-5"></div>
	</div>
	{{/if}}
</div>
<script src="/location-photos.controller.js"></script>