<div class="container" ng-controller="NewReview"> 
	{{>header}}
	<h3>Add a Review</h3>
	<form name="AddReview">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label>Rating</label>
					<div><uib-rating ng-model="LocationRating" ng-init="LocationRating=0" max="5" state-on="'glyphicon-star review-star'" state-off="'glyphicon-star-empty review-star'"></uib-rating></div>
				</div>
				<textarea class="form-control input-sm" rows="10" ng-model="LocationReview" required></textarea>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-success btn-md btn-block" ng-disabled="AddReview.$invalid" ng-click="addReview()">Create</button>
	</form>
</div>
<script src="/newreview.controller.js"></script>