<form name="LoginForm">
	<div class="modal-header">
		<h3 class="modal-title">Login</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger hide" role="alert" id="WrongEmailAndPassword">Incorrect E-Mail and Password combination</div>
		<div class="form-group">
			<input type="email" class="form-control" required ng-model="UserEmail" placeholder="Email Address">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" required ng-model="UserPassword" placeholder="Password">
		</div>
		<button class="btn btn-success btn-sm btn-block" type="button" ng-disabled="LoginForm.$invalid" ng-click="ok()">Go</button>
	</div>
<form>