body{
	background-color: #ffe695;
}

.form-control{
	border: 0px;
	border-radius: 0px;
}

.panel-default{
	border: 2px solid #d3d3d3;
	border-radius: 0px;
}

.place, .place:hover{
	font-size: 20px;
	padding-right: 10px;
	color: black;
}

.area{
	color: #d3d3d3;
}

.review{
	font-size: 11px;
}

.review-indiv{
	font-size: 13px;
}


.type{
	font-size: 12px;
}

.pop-button{
	border: 1px solid #d3d3d3;
	border-radius: 0px;
}

.pop-text{
	border: 0;
}

.break{
	border-color: white;
}

.review-star{
	font-size: 15px;
}

.poptable{
	background: white;
	font-size: 14px;
}

.heading{
	font-size: 20px;
	font-weight: bold;
}

.input-group-addon{
	background: white;
	font-weight: bold;
	border: 0;
}

.pac-icon {
	width: 0;
	background-image: none;
}

.thumbnail{
    height: 220px;
}

.thumbnail-picture{
	max-height: 100%;
}